{% extends "layout.html" %}

{% block content %}

{% for listing in listings.items %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + listing.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_listings', username=listing.author.username) }}">{{ listing.author.username }}</a>
        <small class="text-muted">{{ listing.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <h2><a class="article-title" href="{{ url_for('listings.listing', listing_id=listing.id) }}">{{ listing.title }}</a></h2>

      {% if listing.image_file %}
      <img style="width: 500px; height: 200px;" src="{{ url_for('static', filename='listings_pics/' + listing.image_file) }}">
      {% endif %}

      <div class="container mt-4">
        <div class="row mt-2 mb-2">
          <div class="col-md-6"> <b> Number of bedrooms: </b> {{ listing.beds }} </div>
          <div class="col-md-6"> <b> Number of bathrooms: </b> {{ listing.baths }} </div>
        </div>
        <div class="row mt-2 mb-2">
          <div class="col-md-6"> <b> Price: </b> {{ aed(listing.price) }} </div>
          <div class="col-md-6"> <b> Address: </b> {{ listing.address }} </div>
        </div>
        {% if listing.description %}
        <div class="row mt-4 mb-4">
          <div class="col-md-12"> <b> Description: </b> {{ listing.description }} </div>
        </div>
        {% endif %}
      </div>
    </div>
</article>
{% endfor %}
{% for page_num in listings.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if listings.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }} </a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }} </a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}

{% endblock %}