<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% if title %}
    <title>{{ title }} - Yakeem</title>
    {% else %}
    <title> Yakeem </title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='smoothproducts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='untitled.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simple-line-icons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightbox.css') }}"/>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="{{ url_for('main.home') }}">Yakeem</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item" role="presentation">
                        {% if g.search_form %}
                            <form class="navbar-form navbar-left" method="get" action="{{ url_for('listings.search') }}">
                                <div class="form-group">
                                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                                 </div>
                            </form>
                        {% endif %}
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{{ url_for('users.messages') }}">
                            Messages
                            {% set new_messages = current_user.new_messages() %}
                            {% if new_messages %}
                            <span id="message_count" class="badge"style="visibility: {% if new_messages %} visible {% else %} hidden {% endif %};">
                                {{ new_messages }}
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('listings.new_listing') }}">Create Listing</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('users.account') }}">My Account</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('users.register') }}">Sign up</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('users.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <br/> <br/>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %} {% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                  <h3>Sidebar</h3>
                  <p class='text-muted'>Explore more if you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">
                        <a style="color: black;" href="{{ url_for('listings.specific_search') }}">
                          Specific Search
                        </a>
                        </li>
                      <li class="list-group-item list-group-item-light">About Us</li>
                      <li class="list-group-item list-group-item-light">FAQs</li>
                      <li class="list-group-item list-group-item-light">Contact Us</li>
                    </ul>
                  </p>
                </div>
              </div>
        </div>
    </main>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='smoothproducts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='theme.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lightbox.js') }}"></script>

    {% if current_user.is_authenticated %}
    <script type="text/javascript">
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        $(function() {
        var since = 0;
        setInterval(function() {
            $.ajax('{{ url_for("users.notifications") }}?since=' + since).done(
                function(notifications) {
                    for (var i = 0; i < notifications.length; i++) {
                        if (notifications[i].name == 'unread_message_count')
                            set_message_count(notifications[i].data);
                        since = notifications[i].timestamp;
                        }
                    }
            );
        }, 10000);
        });
    </script>
    {% endif %}
</body>

</html>