{% extends "layout.html" %}

{% block content %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + listing.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_listings', username=listing.author.username) }}">{{ listing.author.username }}</a>
        <small class="text-muted">{{ listing.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if listing.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('listings.update_listing', listing_id=listing.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ listing.title }}</h2>

      {% if listing.image_file %}
      <a href="{{ url_for('static', filename='listings_pics/' + listing.image_file) }}" data-lightbox="image" data-title="Property Image">
        <img class="listing" style="width: 500px; height: 200px;" src="{{ url_for('static', filename='listings_pics/' + listing.image_file) }}">
      </a>
      <br/>
      <hr/>
      {% endif %}

      <div class="container mt-4">
        <div class="row mt-2 mb-2">
          <div class="col-md-6"> <b> Number of bedrooms: </b> {{ listing.beds }} </div>
          <div class="col-md-6"> <b> Number of bathrooms: </b> {{ listing.baths }} </div>
        </div>
        <div class="row mt-2 mb-2">
          <div class="col-md-6"> <b> Price: </b> {{ aed(listing.price) }} </div>
          <div class="col-md-6"> <b> Address: </b> {{ listing.address }} </div>
        </div>
        {% if listing.description %}
        <div class="row mt-4 mb-4">
          <div class="col-md-12"> <b> Description: </b> {{ listing.description }} </div>
        </div>
        {% endif %}
      </div>
    </div>
</article>
<br/>
<script>
  function displayNumber() {
    var phone = document.getElementById("number").innerHTML;
    document.getElementById("phone").innerHTML = phone;
  }
</script>
<article class="media content-section">
  <div class="media-body">
    <h1> Interested in buying? </h1>
    <h5> Here's the contact info of the owner: </h3>
    <div class="row mt-4 mb-4">
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('p2').style.visibility='visible'">
          Click to reveal email
        </button>
      </div>
      <div class="col-md-6">
        <div style="visibility: hidden;" id="p2">
          <button type="button" class="btn btn-outline-primary">
            {{ listing.author.email }}
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('p1').style.visibility='visible'">
          Click to reveal number
        </button>
      </div>
      <div class="col-md-6">
        <div style="visibility: hidden;" id="p1">
          <button type="button" class="btn btn-outline-primary">
            {{ listing.author.phone }}
          </button>
        </div>
      </div>
    </div>
  </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this listing?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('listings.delete_listing', listing_id=listing.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}